{#

Ce layout est repris du layout SonataPageBundle::layout.html.twig

Il faut donc mettre la balise suivante :
{% extends 'SonataPageBundle::layout.html.twig %}

Puis reprendre les blocks

#}
{% extends 'SonataPageBundle::base_layout.html.twig' %}

{% block sonata_page_container %}
    {% include 'InfoMiageAppBundle:Menu:menu.html.twig' %}
    <div class="container">
        <div class="content">
            

            {% block sonata_page_breadcrumb %}
                <div class="row">
                    {% if sonata_seo_context is not defined %}
                        {% set sonata_seo_context = 'Accueil' %}
                    {% endif %}
                </div>
            {% endblock %}

            {% if page is defined %}
                <div class="row">
                    {% if page.name != 'global'%}
                        {{ sonata_page_render_container('content_top', 'global') }}
                    {% endif %}
                    {{ sonata_page_render_container('content_top', page) }}
                </div>
            {% endif %}

            <div class="row">
                {% block page_content %}
                    {% if content is defined %}
                        {{ content|raw }}
                    {% else %}
                        {% set content = block('content') %}
                        {% if content|length > 0 %}
                            {{ content|raw }}
                        {% elseif page is defined %}
                            {{ sonata_page_render_container('content', page) }}
                        {% endif %}
                    {% endif %}
                {% endblock %}
            </div>

            {% if page is defined %}
                <div class="row">
                    {{ sonata_page_render_container('content_bottom', page) }}

                    {% if page.name != 'global'%}
                        {{ sonata_page_render_container('content_bottom', 'global') }}
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <footer class="row">
            {{ sonata_page_render_container('footer', 'global') }}
        </footer>
    </div>
{% endblock %}
